{% extends 'base.html.twig' %}

{% block title %}{{ user.name|capitalize }}{% endblock %}

{% block body %}

<div class="content-wrapper">
    <html>
        <body>
            <main class="form-signin w-100 m-auto">
                <div class="container mt-2" align="center">
                    <div class="container w-25" style="border-radius: 1rem;">
                        <h1 class="h3 mb-3 fw-normal text-dark" style="font-family: 'Kaushan Script', cursive;">Profil de {{ user.name|capitalize }} :</h1>
                        <form>
                            <div class="col-12">
                                <label for="name" class="form-label text-dark">Nom :</label>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-center" id="name" value="{{ user.name }}" readonly>
                                    </div>
                                </div>

                                <label for="fisrtname" class="form-label text-dark">Prénom :</label>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-center" id="firstname" value="{{ user.firstname }}" readonly>
                                    </div>
                                </div>

                                <label for="email" class="form-label text-dark">Adresse mail :</label>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control text-center" id="email" value="{{ user.email }}" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </body>
    </html>
</div>

{% endblock %}